// Fonts
$sansSerifFont: 'Avenir', 'Open Sans', sans-serif;
$serifFont: 'Amiri', serif;

// Site Structure
$lefterWidth: 120px;
$footerHeight: 50px;


$borderWidth: 3px;
$border: $borderWidth solid black;

$navBarWidth: 240px; // TODO: remove/ change
$buttonTextCenterAdjustment: 3px;