// Fonts
$sansSerifFont: 'Avenir', 'Open Sans', sans-serif;
$serifFont: 'Amiri', serif;

// Site Structure
$appWidth: 98vw;
$lefterWidth: 120px;
$footerHeight: 50px;
$headerHeight: 120px;

$borderWidth: 3px;
$border: $borderWidth solid black;

$navBarWidth: 240px;
$buttonTextCenterAdjustment: 3px;

$flyoutFontSize: 1.75em;