// Fonts
$sansSerifFont: 'Avenir', 'Open Sans', sans-serif;
$serifFont: 'Amiri', serif;

// Site Structure
$lefterWidth: 120px;
$footerHeight: 50px;


$border: 3px solid black;
$borderWidth: 3px;

$navBarWidth: 240px; // TODO: remove/ change
$buttonTextCenterAdjustment: 3px;